In [1]:
## Basic Syntax Rules In Python
## Case sensitivity - Python is case-sensitive
name = "John"
Name = "Doe"
print(name)
print(Name)

John
Doe

In [3]:
## Indentation - 
## Python uses indentation to define code blocks. Consistent use of spaces or tabs is required.
age = 32
if age > 30:
    print(age)
print(age)

32
32

In [4]:
## Line continuation -
## Use the backslash character (\) to continue a statement on the next line.
total = 1 + 2 + 3 + \
        4 + 5 + 6 + \
        7 + 8 + 9
print(total)

45

In [5]:
## Multiple statements on a single line -
x = 1; y = 2; z = x + y
print(z)

3

In [10]:
## Understand Semantics In Python
## Variable assignment -
age = 32 ## age is an integer
name = "John" ## name is a string

## Type Inference - Python is a dynamically typed language
type(age)

int

In [11]:
type(name)

str

In [12]:
## Type Inference - another example
variable = 10
print(type(variable))
variable = "Hello"
print(type(variable))

<class 'int'>
<class 'str'>

In [13]:
## Code examples of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block

In [2]:
# Example of variable assignment
a = 100
print(a)

100

In [3]:
# Declaring and assigning multiple variables
age = 32
height = 6.1
name = "John"
is_student = True

# Printing the variables
print("age : ", age)
print("height : ", height)
print("name : ", name)

age :  32
height :  6.1
name :  John

In [4]:
# Naming conventions
# Variable names should be descriptive and meaningful
# They must start with a letter or an underscore '_' and can contain letters, digits and underscores
# They are case-sensitive

# Correct variable names
first_name = "John"
last_name = "Doe"

In [5]:
# Incorrect variable names
1st_name = "John"
first-name = "John"

SyntaxError: invalid decimal literal (2068677144.py, line 2)

In [8]:
# Understanding variable types
# Python is a dynamically typed language and the type of variable is determined at runtime
age = 32 # age is an integer
height = 6.1 # height is a float
name = "John" # name is a string
is_student = True # is_student is a boolean
print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [1]:
# Type conversion in Python
age = 25
print(age)
print(type(age))
age_str = str(age)
print(age_str)
print(type(age_str))

25
<class 'int'>
25
<class 'str'>

In [2]:
# Can a character be converted to an integer?
name = "John"
print(name)
print(type(name))
name_int = int(name)
print(name_int)
print(type(name_int))

John
<class 'str'>

ValueError: invalid literal for int() with base 10: 'John'

In [1]:
# Can I convert float to integer?
height = 6.1
type(height)
height_int = int(height)
print(height_int)
print(type(height_int))

6
<class 'int'>

In [2]:
# Can I convert integer to float?
age = 25
type(age)
age_float = float(age)
print(age_float)
print(type(age_float))

25.0
<class 'float'>

In [1]:
# Dynamic typing in Python
#  allows the type of variable to change during runtime
variable = 10
print(variable, type(variable))
variable = "Hello"
print(variable, type(variable))
variable = 10.5
print(variable, type(variable))

10 <class 'int'>
Hello <class 'str'>
10.5 <class 'float'>

In [4]:
# Input function in Python
# The input() function allows the user to enter input from the keyboard
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello {name}, you are {age} years old")

Hello pranab, you are 32 years old

In [6]:
# Create a Calculator
first_number = int(input("Enter the first number: "))
second_number = int(input("Enter the second number: "))
addition_result = first_number + second_number
difference_result = first_number - second_number
product_result = first_number * second_number
division_result = first_number / second_number
print(f"Addition result between {first_number} and {second_number} is: {addition_result}")
print(f"Difference result between {first_number} and {second_number} is: {difference_result}")
print(f"Product result between {first_number} and {second_number} is: {product_result}")
print(f"Division result between {first_number} and {second_number} is: {division_result}")

Addition result between 23 and 12 is: 35
Difference result between 23 and 12 is: 11
Product result between 23 and 12 is: 276
Division result between 23 and 12 is: 1.9166666666666667

In [7]:
# Integer Example
age = 35
type(age)

int

In [8]:
# Float Example
height = 6.1
type(height)

float

In [9]:
# String Example
name = "John"
type(name)

str

In [10]:
# Boolean Example
is_student = True
type(is_student)

bool

In [11]:
is_true = bool()
print(is_true)

False

In [12]:
a = 10
b = 20
a == b

False

In [13]:
type(a == b)

bool

In [14]:
# Common Errors in Python
result = "Hello" + 10
print(result)

TypeError: can only concatenate str (not "int") to str

In [15]:
# Resolving the error
result = "Hello" + str(10)
print(result)

Hello10

In [18]:
# Arithmetic Operations in Python
a = 10
b = 5 
addition_result = a + b # Addition
sub_result = a - b # Subtraction
multiplication_result = a * b # Multiplication
division_result = a / b # Division
floor_division_result = a // b # Floor Division
modulus_result = a % b # Modulus
exponential_result = a ** b # Exponential - to the power of
print(f"Addition: {addition_result}, Subtraction: {sub_result}, Multiplication: {multiplication_result}, Division: {division_result}, Floor Division: {floor_division_result}, Modulus: {modulus_result}, Exponential: {exponential_result}")

Addition: 15, Subtraction: 5, Multiplication: 50, Division: 2.0, Floor Division: 2, Modulus: 0, Exponential: 100000

In [19]:
# Comparison Operators in Python
a = 10
b = 20
print(a == b) # Equal to
print(a != b) # Not equal to
print(a > b) # Greater than
print(a < b) # Less than
print(a >= b) # Greater than or equal to
print(a <= b) # Less than or equal to

False
True
False
True
False
True

In [20]:
# Comparison Operators using strings
name1 = "John"
name2 = "Doe"
print(name1 == name2) # Equal to
print(name1 != name2) # Not equal to

False
True

In [21]:
# Logical Operators in Python
# AND, OR, NOT
X = True
Y = True
result = X and Y
print(result)

True

In [22]:
X = True
Y = False
result = X and Y
print(result)

False

In [24]:
# OR Operator   
X = True
Y = False
result = X or Y
print(result)
X = False
Y = False
result = X or Y
print(result)
X = True
Y = True
result = X or Y
print(result)

True
False
True

In [25]:
# NOT Operator
X = True
result = not X
print(result)

False