In [ ]:
# Basic Function Syntax:
def function_name(parameters):
    """docstring"""
    #Function body
    # return expression

In [2]:
# Why functions?
num = 24
if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is even

In [6]:
# Using a function
def even_odd(number):
    """This function checks if a number is even or odd"""
    if number % 2 == 0:
        print(f"The {number} is even")
    else:
        print(f"The {number} is odd")

even_odd(23)

The 23 is odd

In [8]:
# Function with multiple parameters
def add(a, b):
    """This function adds two numbers"""
    return a + b

add(2, 3)

5

In [13]:
# Function with default parameters
def greet(name = "Guest"):
    """This function greets the user"""
    print(f"Hello {name}, Welcome To this paradise")

greet("John")
greet()

Hello John, Welcome To this paradise
Hello Guest, Welcome To this paradise

In [14]:
# Function with variable number of arguments
# Positional arguments and Keyword arguments
# Positional arguments are the arguments that are passed to the function in the order they are defined
def print_values(*args):
    """This function prints the values of the arguments"""
    for number in args:
        print(number)
        
print_values(1, 2, 3, 4, 5, "John", "Doe")

1
2
3
4
5
John
Doe

In [15]:
# Keyword arguments are the arguments that are passed to the function with the parameter name
# Keyword arguments all the values are passed as key value pairs
def print_values(**kwargs):
    """This function prints the values of the arguments"""
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_values(name = "John", age = 23, city = "New York")

name: John
age: 23
city: New York

In [16]:
# Function with variable number of positional and keyword arguments
def print_values(*args, **kwargs):
    """This function prints the values of the arguments"""
    for number in args:
        print(number)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_values(1, 2, 3, 4, 5, name = "John", age = 23, city = "New York")

1
2
3
4
5
name: John
age: 23
city: New York

In [19]:
# Multiple parameters Return statement in a function
def multiply_two_number(a, b):
    """This function multiplies two numbers"""
    return a * b, a

result = multiply_two_number(2, 3)
print(result)

(6, 2)