In [2]:
# Example of map function
def square(num):
    return num**2

square(2)

4

In [3]:
def square(num):
    return num**2

my_nums = [1,2,3,4,5]
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [4]:
# Example of map function
numbers = [1,2,3,4,5]
list(map(lambda num: num**2, numbers))

[1, 4, 9, 16, 25]

In [5]:
# Can use a map with more than one iterable
numbers = [1,2,3,4,5]
numbers2 = [5,4,3,2,1]
list(map(lambda num1, num2: num1+num2, numbers, numbers2))

[6, 6, 6, 6, 6]

In [6]:
# map function to convert a list of strings to list of integers
str_nums = ['1', '2', '3', '4', '5']
list(map(int, str_nums))

[1, 2, 3, 4, 5]

In [7]:
# map function to convert a list of strings to an upper case
words = ['hello', 'my', 'name', 'is', 'Sam']
list(map(str.upper, words))

['HELLO', 'MY', 'NAME', 'IS', 'SAM']

In [10]:
# map function to return name from a list of dictionaries
def get_name(person):
    return person['first']
names = [{'first': 'Sam', 'last': 'Smith'}, {'first': 'John', 'last': 'Doe'}]
list(map(get_name, names))

['Sam', 'John']